body {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  flex-direction: column;
  align-items: center;
}

.cards--grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 50px;
  width: 730px;
  margin-bottom: 150px;
}

.cards--grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto 70px auto;
  gap: 30px;
  width: 1110px;
}

.card {
  padding: 20px 20px 30px 20px;
  background-color: #E1EDE6;
}

.card__fix-img {
  width: 310px;
  height: 422px;
  margin-bottom: 20px;
}

.card__author {
  color: #86928B;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 10px;
}

.card__description2 {
  color: #2C2D35;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
}

.card__materials {
  color: #2C2D35;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 30px;
}

.card__price {
  color: #598D66;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 20px;
}


.card__reclam {
  margin-bottom: 70px;
}

.card__btn {
  padding: 21px 106px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
}

.card__btn--add-to-cart {
  color: #598D66;
  background-color: transparent;
  border: 1px solid #598D66;
}