        /* Задание 1: Обычные блочные и строчные элементы */
        .title {
            background-color: aquamarine;
            display: block;
            margin: 10px 0;
            padding: 10px;
        }

        .paragraph {
            background-color: brown;
            display: block;
            margin: 5px;
            padding: 20px;
            color: white;
        }

        .container {
            background-color: blueviolet;
            display: block;
            margin: 5px;
            padding: 20px;
            color: white;
        }

        .image {
            /* по умолчанию img — строчный элемент */
            width: 200px;
            height: auto;
        }

        /* Задание 2: Преобразование поведения элементов */
        .image-block {
            display: block; /* Преобразуем img в блочный элемент */
            margin: 20px auto;
        }

        .paragraph-inline {
            display: inline; /* Преобразуем p в строчный элемент */
            background-color: lightcoral;
            padding: 5px;
        }

        /* Задание 3: Вложенные элементы */
        .box {
            padding: 20px;
            border: 2px solid black;
            margin-top: 40px;
            background-color: #f4f4f4;
        }

        .box-paragraph {
            display: block;
            margin-bottom: 10px;
        }

        .box-image {
            display: block;
            margin-bottom: 10px;
            max-width: 100%;
            height: auto;
        }


        .box-link {
            display: block;
            margin-bottom: 10px;
        }