body {
  font-family: sans-serif;
}

.header1 {
  display: flex;
  padding: 33px 165px;
  background-color: #E1EDE6;
  justify-content: space-between;
}

.nav-toggle {
  display: none;
  border: none;
  background: none;
  width: 20px;
  height: 17px;
  cursor: pointer;
}

.toggle {
  display: none;
}

.logo-text {
  display: flex;
  align-items: center;
  gap: 8px;
}

.head-text {
  color: #598D66;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.navbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav1 {
  display: flex;
  gap: 58px;
  align-items: center;
}

.nav1 a {
  color: #2C2D35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  text-decoration: none;
}

.hero {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0 165px;
  justify-content: center;
}

.title1 {
  color: #2C2D35;
  font-size: 60px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 20px;
}

.title1 span {
  color: #598D66;
}

.description1 {
  color: #86928B;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 60px;
}

.btn {
  padding: 21px 60px;
  border: 1px solid #598D66;
  color: #598D66;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.header2 {
  display: flex;
  padding: 33px 165px;
  justify-content: space-between;
}

.head-text2 {
  color: #2C2D35;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.cntr-btn {
  background-color: #D4E8D9;
  padding: 10px 20px;
  color: #2C2D35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.active {
  color: #F4F6F5;
  background-color: #376B44;
}

.fix-img {
  width: 310px;
  height: 422px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-rows: 730px 730px;
  grid-template-columns: 350px 350px 350px;
  justify-content: center;
  margin-right: 165px;
  margin-left: 165px;
  margin-bottom: 70px;
  gap: 30px;
}

.card {
  padding: 20px 20px 30px 20px;
  background-color: #E1EDE6;
}

.author {
  color: #86928B;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 10px;
}

.description2 {
  color: #2C2D35;
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
}

.materials {
  color: #2C2D35;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 30px;
}

.price {
  color: #598D66;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 20px;
}

.padbtn {
  padding: 21px 107px;
}

.reclam {
  margin-bottom: 70px;
}

.block {
  padding: 70px 735px 70px 165px;
  background-image: url('./assets/attachment.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo-text2 {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.head-text3 {
  color: #F4F6F5;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
}

.block-text {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 60px;
}

.oznak {
  background-color: #EEDB6D;
  padding: 21px 60px;
  color: #2C2D35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  border: none;
  cursor: pointer;
}

.info {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 165px;
  margin-right: 165px;
  margin-bottom: 70px;
  justify-content: center;
}

.content2 {
  margin-top: 124px;
  margin-bottom: 44px;
}

.title2 {
  color: #2C2D35;
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
  margin-bottom: 20px;
}

.description3 {
  color: #2C2D35;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  margin-bottom: 20px;
}

.site-footer {
  display: flex;
  padding: 23px 165px;
  background-color: #E1EDE6;
  justify-content: space-between;
  align-items: flex-start;
}


.logo-nav {
  display: flex;
  align-content: center;
}

.logo2 {
  margin-bottom: 35px;
}

.number {
  color: #2C2D35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 8px;
}

.description4 {
  color: #86928B;
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

/* .footer-info1 .footer-info2 .footer-info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
} */

.head-text4 {
  list-style-type: none;
  color: #2C2D35;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 6px;
}

.world {
  list-style-type: none;
}

.world a {
  text-decoration: none;
  color: #86928B;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}


.footer-brand {
  display: flex;
  flex-direction: column;
  margin-top: -23px;
}

.icons {
  display: flex;
  gap: 30px;
  margin-top: 41px;
  margin-left: 115px;
}


.end {
  color: #86928B;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  margin-left: 115px;
}

@media (max-width: 690px) {
  .header1 {
    padding: 33px 39px;
    justify-content: space-around;
  }

  .logo-text {
    gap: 6px;
  }

  .nav1 {
    gap: 30px;
  }

  .nav1 a {
    font-size: 18px;
  }

  .hero {
    padding: 0 39px;
  }

  .content1 {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .ptica-img img {
    width: 330px;
    height: 380px;
  }

  .title1 {
    font-size: 40px;
    line-height: 100%;
  }

  .title1 span {
    font-size: 40px;
    line-height: 100%;
  }

  .description1 {
    margin-bottom: 40px;
  }

  .btn {
    padding: 18px 51px;
  }

  .header2 {
    width: 390px;
    flex-shrink: 0;
    padding: 0 39px;
    gap: 63px;
    margin-bottom: 30px;
  }

  .head-text2 {
    font-size: 30px;
  }

  .cards {
    grid-template-columns: 330px 330px;
    margin-right: 39px;
    margin-left: 39px;
  }

  .fix-img {
    width: 290px;
    height: 422px;
  }

  .padbtn {
    padding: 21px 97px;
  }

  .block {
    padding: 70px 39px;
  }

  .head-text3 {
    font-size: 30px;
  }

  .logo-text2 img {
    width: 60px;
    height: 60px;
  }

  .block-text {
    margin-bottom: 70px;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 39px;
    margin-right: 39px;
  }

  .info img {
    width: 100%;
    max-width: 413px;
    height: 510px;
    margin-bottom: 40px;

  }

  .content2 {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .avatars img {
    width: 80px;
    height: 80px;
  }

  .title2 {
    font-size: 30px;
  }

  .avatars {
    display: flex;
    gap: 30px;
  }

  .site-footer {
    display: flex;
    flex-wrap: wrap;
    padding: 23px 39px;
    justify-content: space-between;
  }

  .footer-info1 ul,
  .footer-info2 ul,
  .footer-info3 ul {
    margin: 0;
    padding: 0;

  }

  .logo-number {
    display: flex;
    justify-content: space-between;
    gap: 377px;
  }

  .icons {
    margin-top: 30px;
    margin-left: 75px;
  }

  .end {
    margin-left: 75px;
  }
}

@media (max-width: 510px) {
  .header1 {
    display: flex;
    padding: 16px 33px;
    flex-wrap: wrap;
  }

  .hero {
    padding: 50px 33px;
  }

  .ptica-img img {
    width: 195px;
    height: 239px;
  }

  .content1 {
    margin: 0;
  }

  .title1 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .description1 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .padbtn {
    font-size: 18px;
    padding: 15px 41px;
  }

  .header2 {
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 33px;
  }

  .cntr-btn {
    font-size: 18px;
  }

  .cards {
    grid-template-columns: 240px 240px;
    grid-template-rows: 514px 514px;
    margin-right: -39px;
    margin-left: -39px;
    margin-bottom: 50px;
  }

  .fix-img {
    width: 200px;
    height: 250px;
    margin-bottom: 15px;
  }

  .author {
    font-size: 16px;

  }

  .description2 {
    font-size: 24px;
  }

  .price {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .padbtn {
    padding: 14px 57px;
  }

  .block {
    padding: 50px 33px;
    margin-bottom: 50px;
  }

  .logo-text img {
    width: 50px;
    height: 50px;
  }

  .head-text3 {
    font-size: 24px;
  }

  .block-text {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .oznak {
    padding: 14px 35px;
    font-size: 18px;
  }

  .info {
    margin-left: 33px;
    margin-right: 33px;
    gap: 30px;
  }

  .info img {
    width: 303px;
    height: 375px;
    margin: 0;
  }

  .content2 {
    margin: 0;
  }

  .title2 {
    font-size: 24px;
  }

  .description3 {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 20px;
  }

  .avatars {
    margin: 0;
  }

  .avatars img {
    width: 80px;
    height: 80px;

  }

  .logo-number {
    gap: 197px;
  }

  .site-footer {
    display: flex;
    gap: 30px;
    padding: 23px 33px;
  }

  .footer-brand {
    margin: 0;
    padding: 0;
    margin-left: 110px;
  }


  .icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .end {
    margin: 0;
    padding: 0;

  }

  br.mob-hide {
    display: none;
  }
}

@media (max-width: 320px) {

  .nav1 {
    display: none;
  }

  .header1 {
    justify-content: center;
    background-color: #FFFFFF;
    padding: 17px 15px;
    flex-wrap: wrap;
  }

  .mob-block {
    display: flex;
    justify-content: space-between;
    background-color: #E1EDE6;
    padding: 16px 15px;
  }

  .nav-toggle {
    display: flex;
    justify-content: center;
    margin-top: 4px;
  }

  .toggle {
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    cursor: pointer;
  }

  .hero {
    padding: 60px 15px;
  }

  .ptica-img {
    display: none;
  }

  .title1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-bottom: 20px;
  }

  .title1 span {
    font-size: 30px;
  }

  .description1 {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .btn {
    padding: 14px 29px;
  }

  .header2 {
    padding: 0 15px;
  }

  .cards {
    grid-template-columns: 290px;
    grid-template-rows: 3, 234px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 60px;
  }

  .buttons {
    gap: 20px;
  }

  .fix-img {
    width: 250px;
    height: 250px;
  }

  .materials {
    font-size: 16px;
  }

  .padbtn {
    padding: 14px 82px;
  }

  .block {
    padding: 50px 15px;
  }

  .logo-text2 {
    align-items: flex-start;
    gap: 10px;
  }

  .logo-text2 img {
    width: 50px;
    height: 50px;
  }

  .block {
    margin: 0;
  }

  .oznak {
    padding: 14px 53px;
    font-size: 18px;
  }

  .info {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 94px;
  }

  .info img {
    width: 234px;
    height: 290px;
  }

  .avatars {
    gap: 25px;
  }

  .avatars img {
    width: 80px;
    height: 80px;
  }

  .site-footer {
    display: grid;
    grid-template-areas:
      "logo-number ."
      "contact-group footer-info1"
      "footer-info2 footer-info3"
      "footer-brand footer-brand";
    align-items: center;
    padding: 20px 15px;
    row-gap: 0;
    gap: 40px;
  }

  .logo-text img {
    width: 35px;
    height: 35px;
  }

  .logo2 {
    margin-bottom: 20px;
  }

  .logo-number {
    display: block;
    grid-area: logo-number;
  }

  .contact-group {
    grid-area: contact-group;
  }

  .footer-info1 {
    grid-area: footer-info1;
    margin-top: -96px;
  }

  .footer-info2 {
    grid-area: footer-info2;
  }

  .footer-info3 {
    grid-area: footer-info3;
  }


  .footer-brand {
    align-items: center;
    display: flex;
    justify-content: center;
    grid-area: footer-brand;
    margin: 0;
  }


  .number {
    font-size: 16px;
  }

  .description4 {
    font-size: 16px;
  }

  .head-text4 {
    font-size: 16px;
  }

  .world {
    font-size: 16px;
  }
}