/* Задание 1: Текстовые свойства */
h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkgreen;
}

p {
    font-size: 16px;
}

.big-text {
    font-size: 20px;
}

.bold-text {
    font-weight: bold;
}

/* Задание 2: Фон */

.container {
    background-color: #f0f0f0;
    background-image: url('paper-style-dynamic-lines-background_23-2149008629.avif');
}

/* Задание 3: Отступы и рамки */

.box {
    padding: 10px;
    margin: 10px;
    border: 1px solid #333131;
    background-color: #f0f0f0;
}


/* Задание 4: Размеры и overflow */

/* Задание 4: Размеры и overflow */

.sized-box {
  width: 250px;
  height: 100px;
  border: 2px solid #555;
  margin: 10px 0;
  padding: 10px;
  background-color: #fdfdfd;
}

.scroll {
  overflow: scroll;
}

.hidden {
  overflow: hidden;
}
