body {
  min-height: 3000px;
  /* Кайфовая тема, смотрел с ютуба для демонстрации position fixed */
  margin: 0;
  padding: 0;
}

/* Задание 1 */

/* Значение static, это значение по умолчанию, элемент не сдвигаются с помощью top, left и тд. Элементы располагаются один под другим. */
.box {
  position: static;
  background-color: lightblue;
  padding: 15px;
  margin: 10px;
}

/* Задание 2 */

/* Значение relative, похож на static, но в отличий от статик с релатив можно сдвинуть блок от его обычной позиции. При этом остальные элементы думают, что он все еще стоит на своем старом месте */
.relative-block {
  position: relative;
  top: 10px;
  left: 10px;
}

/* Задание 3 */

.container {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: gray;
  padding: 10px;
  margin: 15px;
}

.box1 {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: lightblue;
}

/* position: absolute элемент полностью выпадает из потока, не занимает места и позиционируется относительно ближайшего родителя с position: relative. Если такого родителя нет, относительно всего окна браузера. */
.absolute-box {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: lightgreen;
}

/* Задание 4 */

/* При прокрутке остается внизу */
.ob-text {
  position: fixed;
  bottom: 15px;
  right: 30px;
}

/* Задание 5 */

/* При прокрутке остается все же внизу */
h3 {
  position: sticky;
  top: 10px;
}