/* Задание 1 */
/* Когда наводишь курсор на кнопку, меняется цвет на красный */
.button:hover {
  background-color: red;
}

/* При клике на элемент, меняется цвет границы на cиний цвет */
.input:focus {
  border-color: blue;
  outline: none;
  /* outline: none; Без этого кода, у меня не работало, но на видео курса этот код не показывали. */
}

/* Задание 2 */

/* Применил :first-child что-бы менять цвет первого элемента на синий. */
.list-fruit:first-child {
  background-color: gray;
}

/* Применил :last-child что-бы менять цвет последнего элемента на фиолетовый. */
.list-fruit:last-child {
  background-color: blueviolet;
}

/* Задание 3 */

/* Ссылка при наведении должен менять цвет на зеленый, а текст на белый */
.block1 a:hover {
  background-color: green;
  color: white;
}

/* При клике на ссылку, цвет меняется на синий, а текст на красный. */
.block2 a:focus {
  background-color: blue;
  color: red;
}

/* Тут абзацы, нечетные должны менять цвет на голубой. */
.text1:nth-child(odd) {
  background-color: aquamarine;
}

/* Четные должны менять цвет на оранжевый.*/
.text2:nth-child(even) {
  background-color: orange;
}

/* Задание 4 */

/* Первый дочерний элемент внутри блока, при наведении меняется цвет фона на желтый */
.block4 :first-child:hover {
  background-color: yellow;
  font-weight: bolder;
}

/* Последний элемент внутри блока, если в фокусе, меняет цвет заднего фона на красный */
.block4 :last-child:focus {
  background-color: red;
  outline: none;
}