/* Задание 1: Три блока с разными тенями  меняется смещение размытие и цвет*/
.box1 {
  box-shadow: 5px 5px 10px 0px rgba(34, 0, 0, 1);
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  margin-bottom: 50px;
}

.box2 {
  box-shadow: 10px 10px 20px 0px rgba(1, 3, 129, 0.75);
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  margin-bottom: 50px;
}

.box3 {
  box-shadow: 15px 15px 25px 0px rgba(255, 0, 0, 0.5);
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}



/* Задание 2: Тени для текста примеры разных теней у текста отличаются размером и цветом */
.text1 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.text2 {
  text-shadow: 5px 5px 10px rgba(60, 233, 233, 0.8);
}

.text3 {
  text-shadow: 10px 10px 20px rgba(247, 0, 255, 0.5);
}

/* Задание 3: Линейный градиент фон с плавным переходом от черного к белому под углом 25 градусов */
.linear-grad {
  background: linear-gradient(25deg, black, white);
  width: 200px;
  height: 200px;
  background-color: cadetblue;
  margin-bottom: 50px;
}

/* Задание 4: Радиальный градиент круговой градиент от черного к белому и синему. */
.radial-grad {
  background: radial-gradient(ellipse, black, white, blue);
  width: 200px;
  height: 200px;
  background-color: cadetblue;
}